// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * lan966x_pcb8309.dts - Device Tree file for PCB8309
 */
/dts-v1/;
#include "lan9662_hsio_mode_1.dtsi"

/ {
	model = "Microchip EVB - LAN9662 Carier";
	compatible = "microchip,lan966x-sunrise", "microchip,lan966x";

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio 56 GPIO_ACTIVE_LOW>;
		priority = <200>;
	};

	aliases {
		i2c102 = &i2c102;
		i2c103 = &i2c103;
	};
};

&lan966x_mdio1 {
	status = "okay";

	phy0: ethernet-phy@1 {
		reg = <1>;
	};

	phy1: ethernet-phy@2 {
		reg = <2>;
	};
};

&lan966x_switch {
	status = "okay";
};

&port0 {
	status = "okay";
	phy-handle = <&phy0>;

	#address-cells = <1>;
	#size-cells = <0>;
};

&port1 {
	status = "okay";
	phy-handle = <&phy1>;

	#address-cells = <1>;
	#size-cells = <0>;
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_USART>;
	status = "okay";

	usart0: serial@200 {
		compatible = "atmel,at91sam9260-usart";
		reg = <0x200 0x200>;
		interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&nic_clk>;
		clock-names = "usart";
		assinged-clocks = <&clks GCK_ID_FLEXCOM3>;
		assigned-clock-rates = <30000000>;
		pinctrl-0 = <&fc3_b_pins>, <&fc_shrd7_pins>, <&fc_shrd8_pins>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&sgpio0 {
	status = "okay";
	microchip,sgpio-port-ranges = <0 3>, <8 11>;
	gpio@0 {
		ngpios = <64>;
	};
	gpio@1 {
		ngpios = <64>;
	};
};

&flx4 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c0: i2c@600 {
		compatible = "microchip,sam9x60-i2c";
		reg = <0x600 0x200>;
		interrupts = <GIC_SPI 52 IRQ_TYPE_LEVEL_HIGH>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&nic_clk>;
		pinctrl-0 = <&fc4_b_pins>;
		pinctrl-names = "default";
		i2c-analog-filter;
		i2c-digital-filter;
		i2c-digital-filter-width-ns = <35>;
		i2c-sda-hold-time-ns = <1500>;
		status = "okay";
	};
};

&apb {
	mux: mux-controller {
		compatible = "gpio-mux";
		#mux-control-cells = <0>;

		mux-gpios = <&sgpio_out0 11 0 GPIO_ACTIVE_HIGH>, // p11b0
			    <&sgpio_out0 11 1 GPIO_ACTIVE_HIGH>; // p11b1
	};

	i2c-mux {
		compatible = "i2c-mux";
		#address-cells = <1>;
		#size-cells = <0>;

		mux-controls = <&mux>;

		i2c-parent = <&i2c0>;
		settle-time-us = <10000>; /* The signal needs to get stabilized */

		i2c102: i2c_sfp@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
		i2c103: i2c_sfp@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};

	sfp_eth2: sfp-eth2 {
		compatible       = "sff,sfp";
		i2c-bus          = <&i2c102>;
		tx-disable-gpios = <&sgpio_out0 10 0 GPIO_ACTIVE_LOW>;
		los-gpios        = <&sgpio_in0  2 0 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios   = <&sgpio_in0  2 1 GPIO_ACTIVE_LOW>;
		tx-fault-gpios   = <&sgpio_in0  1 0 GPIO_ACTIVE_HIGH>;
	};

	sfp_eth3: sfp-eth3 {
		compatible       = "sff,sfp";
		i2c-bus          = <&i2c103>;
		tx-disable-gpios = <&sgpio_out0 10 1 GPIO_ACTIVE_LOW>;
		los-gpios        = <&sgpio_in0  3 0 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios   = <&sgpio_in0  3 1 GPIO_ACTIVE_LOW>;
		tx-fault-gpios   = <&sgpio_in0  1 1 GPIO_ACTIVE_HIGH>;
	};
};

&port2 {
	status = "okay";

	sfp = <&sfp_eth2>;
	managed = "in-band-status";

	#address-cells = <1>;
	#size-cells = <0>;
};

&port3 {
	status = "okay";

	sfp = <&sfp_eth3>;
	managed = "in-band-status";

	#address-cells = <1>;
	#size-cells = <0>;
};
